<form [formGroup]="addRecipeForm" (ngSubmit)="onSubmit()" class="add-recipe-form">
  <div style="display: flex; flex-direction: column;">
    <mat-form-field appearance="outline">
      <mat-label>Ссылка на рецепт</mat-label>
      <input matInput #recipeUrl formControlName="url" placeholder="Вставьте ссылку рецепта который хотите сохранить"
             required autofocus
      type="url">
      <mat-icon matSuffix>link</mat-icon>
      <mat-error *ngIf="!addRecipeForm.get('url').valid && addRecipeForm.get('url').touched">Это поле
      обязательно для заполнения!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="category" placeholder="Категория" required>
        <mat-option *ngFor="let cat of cats" [value]="cat.value">
          {{cat.viewValue}}
        </mat-option>
      </mat-select>
      <mat-hint align="end">
        Список категорий возможно отредактировать в разделе «Категории»
      </mat-hint>
      <mat-error *ngIf="!addRecipeForm.get('category').valid && addRecipeForm.get('category').touched">Это поле
      обязательно для заполнения!</mat-error>
    </mat-form-field>
    <mat-radio-group formControlName="diet" value="2" style="margin: 1.25em 0;" required="">
      <mat-radio-button value="2" style="margin-right: 1.25em;">Вегeтарианский</mat-radio-button>
      <mat-radio-button value="1" style="margin-right: 1.25em;">Веганский</mat-radio-button>
      <mat-radio-button value="3">С мясом/рыбой</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let fruit of fruits"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(fruit)">
          {{fruit}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          formControlName="ingredients"
          placeholder="Ингридиенты"
          #fruitInput
          [formControl]="fruitCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="notes" placeholder="Примечания"></textarea>
    </mat-form-field>
    <mat-slide-toggle formControlName="favorite" style="margin-bottom: 1.25em">В Избранное!</mat-slide-toggle>
  </div>
  <button mat-raised-button color="accent" [disabled]="!addRecipeForm.valid">Сохранить</button>
</form>

