@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-body {
  margin: 1rem;
}

.card-for-authForm {
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .mat-card-header-text {
    margin: 0 !important;
  }
}

.authButton {
  margin-top: 1rem;
}

.authLoader {
  display: inline-block !important;
  vertical-align: middle;
  margin-left: .5rem;
}

.form-error-notification {
  font-size: .8rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ffd7d7;
  border: 1px solid #ff6464;
  border-radius: 4px;
}


