@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-for-authForm {
  width: 100%;
  max-width: 320px;

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .mat-card-header-text {
    margin: 0 !important;
  }
}

.authButton {
  margin-top: 1rem;
}



